{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Curso Node</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam recusandae quaerat fugiat, ut aut sint ipsum itaque natus laborum voluptates dignissimos quos labore autem sit odit nobis. Labore, voluptatibus nam!
        </p>
    </div>
    <div class="col-4">
        <img src="/assets/img/node.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}